<div class="select_plan_div">
    <h2 class="select_plan_title">Select your plan</h2>
    <p class="select_plan_paragraph">
        You have the option of monthly or yearly billing.
    </p>
    <form action="" class="select_plan_form">
        <div class="select_plan_item">
            <input type="radio" name="" id="" class="select_plan_radio">
            <img src="" alt="" class="select_plan_image">
            <p class="select_plan_name"></p>
            <p class="select_plan_price_monthly"></p>
        </div>
        <div class="select_plan_item">
            <input type="radio" name="" id="" class="select_plan_radio">
            <img src="" alt="" class="select_plan_image">
            <p class="select_plan_name"></p>
            <p class="select_plan_price_monthly"></p>
        </div>
        <div class="select_plan_item">
            <input type="radio" name="" id="" class="select_plan_radio">
            <img src="" alt="" class="select_plan_image">
            <p class="select_plan_name"></p>
            <p class="select_plan_price_monthly"></p>
        </div>
        <div class="select_plan_range_div">
            <span class="select_plan_monthly">Monthly</span>
            <input type="range" name="" id="" class="select_plan_range">
            <span class="select_plan_monthly">Yearly</span>
        </div>
        
    </form>
</div>