<div class="personal_info_div">
    <h2 class="personal_info_title">Personal info</h2>
    <p class="personal_info_paragraph">
        Please provide your name, email address, and phone number.
    </p>
    <form action="" class="personal_info_form">
        <div class="personal_info_form_div">
            <label for="name">Name</label>
            <input type="text" placeholder="e.g. Stephen King">
        </div>
        <div class="personal_info_form_div">
            <label for="email">Email Address</label>
            <input type="email" placeholder="e.g. stephenking@lorem.com">
        </div>
        <div class="personal_info_form_div">
            <label for="phone">Phone Number</label>
            <input type="tel" placeholder="e.g. +1 234 567 890">
        </div>
    </form>
</div>
